# gradle
.gradle/
build/
out/
classes/

# eclipse
bin/
*.launch
.settings
.metadata

# idea
.idea/
*.ipr
*.iws
*.iml

# vscode
.settings/
.vscode/
.classpath
.project

# macos
*.DS_Store

# other
eclipse/
run/
libs/
logs/

# forge
forge*changelog.txt

# other
images/
desktop.ini
